<div class="flex flex-col flex-1 gap-md">
  <button
    mat-button
    (click)="loadNextPage()"
    *ngIf="entries.length < totalEntries"
    style="margin: 16px 0; display: block; width: fit-content;"
  >
    Load Older Entries
  </button>
  <app-journal-timeline
    [entries]="entries"
    (entrySelected)="onEntrySelected($event)"
    class="journal-timeline"
  ></app-journal-timeline>

  <app-journal-entry-form
    [entry]="selectedEntry"
    (saved)="onEntrySaved($event)"
    (cancelled)="onEditCancelled()"
    (deleted)="onEntryDeleted($event)"
    class="journal-form"
  ></app-journal-entry-form>
</div>
