<div class="journal-container">
  <button
    mat-button
    (click)="loadNextPage()"
    *ngIf="entries.length < totalEntries"
    style="margin: 16px 0; display: block; width: fit-content;"
  >
    Load Older Entries
  </button>
  <app-journal-entry-list
    [entries]="entries"
    (entrySelected)="onEntrySelected($event)"
    class="journal-list"
  ></app-journal-entry-list>

  <app-journal-entry-form
    [entry]="selectedEntry"
    (saved)="onEntrySaved($event)"
    (cancelled)="onEditCancelled()"
    (deleted)="onEntryDeleted($event)"
    class="journal-form"
  ></app-journal-entry-form>
</div>
