/* journal-page.component.css */
:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.journal-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
}
.journal-list {
  flex: 1;
  overflow-y: auto;
}
.journal-form {
  flex: none;
}
