form {
  max-width: 900px;
  width: 100%;
  margin: 16px;
}

.row-fields {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  width: 100%;
}
.row-fields mat-form-field {
  flex: 1 1 0;
}

.full-width {
  width: 100%;
}

.market-toggle {
  margin: 16px 0;
  display: flex;
  gap: 8px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.left-buttons {
  display: flex;
  gap: 8px;
}

.right-buttons {
  display: flex;
  gap: 8px;
}

