.dashboard {
  padding: 1rem;
}

section h2 {
  margin-top: 0;
}

.dashboard {
  display: flex;
  padding: 1rem;

  > section {
    flex: 1;
  }
}

.dashboard {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
