<div class="flex flex-col gap-md p-md">
  <button mat-raised-button color="primary" (click)="getScreens()" [disabled]="loading">
    Get Screens
  </button>
  <div class="flex flex-col gap-lg">
    <div *ngFor="let screen of screens" class="mb-lg">
      <div class="flex items-center gap-md mb-sm">
        <div class="screen-date">{{ screen.timestamp | date:'short' }}</div>
        <button mat-button (click)="detectCross(screen)" [disabled]="screen.checking">Check Cross</button>
      </div>
      <div class="flex gap-md">
        <div class="img-wrapper" *ngFor="let img of screen.images">
          <div class="img-container">
            <img [src]="img.url" [alt]="img.name" (click)="openSourceUrl(img)" class="main-image" />
            <div class="img-overlay">
              <button mat-icon-button (click)="downloadImage(img)" class="download-btn" matTooltip="Download">
                <mat-icon>download</mat-icon>
              </button>
            </div>
            <div class="img-hover-preview">
              <img [src]="img.url" [alt]="img.name" />
            </div>
          </div>
          <div class="cross-result" *ngIf="img.crossing !== undefined">
            {{ img.crossing ? 'Cross detected' : 'No cross' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
