<!-- src/app/journal/journal-entry-list/journal-entry-list.component.html -->
@if (entries.length) {
  <mat-accordion>
    @for (e of entries; track e) {
      <mat-expansion-panel #panel
        (opened)="onPanelOpen(e)"
        >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ e.date }} — <span
            class="es-price"
        [ngClass]="{
      up:   e.marketDirection === 'up',
      down: e.marketDirection === 'down'
    }"> ES {{ e.esPrice }} </span> — Δ {{ e.delta ?? 'n/a' }}
          @if (e.events.length) {
            <span class="event-count">
              ({{ e.events.length }} {{ e.events.length === 1 ? 'event' : 'events' }})
            </span>
          }
        </mat-panel-title>
        @if (!panel.expanded) {
          <mat-panel-description>
            {{ e.notes }}
          </mat-panel-description>
        }
      </mat-expansion-panel-header>
      <div class="full-note">
        <p>{{ e.notes }}</p>
      </div>
      @if (e.events.length) {
        <b>Events</b>
        <ul>
          @for (ev of e.events; track ev) {
            <li>
              {{ ev.time }} &#64; {{ ev.price }} — {{ ev.note }}
            </li>
          }
        </ul>
      }
      <button mat-stroked-button (click)="copyEntry(e)">
        Copy to Clipboard
      </button>
    </mat-expansion-panel>
  }
</mat-accordion>
}
@if (!entries.length) {
  <p>No journal entries yet.</p>
}
