<!-- src/app/app.component.html -->
<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Trade Journal</span>
</mat-toolbar>

<mat-sidenav-container class="full-height">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item (click)="view='journal'">
        Journal
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <ng-container [ngSwitch]="view">
        <app-journal-entry-form *ngSwitchCase="'journal'"></app-journal-entry-form>
        <!-- future views can go here -->
      </ng-container>
      <app-journal-entry-list></app-journal-entry-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
