
.full-width {
  width: 100%;
}

.inner-table {
  width: 100%;
  margin-top: 8px;
}

.alert {
  background-color: #2196f3;
  color: white;
}

.warning {
  background-color: #ffc107;
  color: black;
}

.positive {
  color: #1b5e20; // dark green
}

.negative {
  color: #b71c1c; // dark red
}

.rule-tag {
  margin-right: 4px;
}
