# Ignore Git directory
.git

# Node dependencies
node_modules/

# Python cache and compiled files
__pycache__/
*.py[cod]

# Test directories
/tests/

# Local configuration files
.env
*.env
*.local
.vscode/
