# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
env/
venv/

# PyCharm
.idea/

# VS Code (optional, if you use it)
.vscode/

# Test and coverage
*.cover
.coverage
htmlcov/
.tox/
.pytest_cache/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db